<footer class="mdc-typography" style="background-color: #3a5a69;color:white;">
    <div style="text-align: center;max-width: 600px;margin: auto;">
        <h1 class="mdc-typography--headline6" >樂舞派對</h1>
        <p class="mdc-typography--body1" style="padding: 8px">在音樂舞蹈中找到愛情、友誼、健康、快樂！</p>
        <i class="mdc-icon-button material-icons" aria-hidden="true">
            <img src="/imgs/facebook-logo.png" width="24">
        </i>
        <i class="mdc-icon-button material-icons" aria-hidden="true">
            <img src="https://upload.wikimedia.org/wikipedia/commons/3/3b/Facebook_Messenger_logo.svg" width="24">
        </i>
        <i class="mdc-icon-button material-icons" aria-hidden="true">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/41/LINE_logo.svg" width="24">
        </i>
    </div>
</footer>