style.
    .sidenav {
        position: fixed;
        z-index: 1;
        overflow-x: hidden;
        
    }
    .main-content {
        margin-left: 160px;
    }

aside.mdc-drawer.sidenav
    div.mdc-drawer__content
        nav.mdc-list
            include nav2
